{% extends "blog/blog_base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-12 mx-5 mt-3">
            <a href="{% url 'blog_home' %}" class="btn btn-outline-secondary">Go Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mb-3 pb-2 mx-3">
            <h1>{{ object.title }}</h1>
        </div>
    </div>
{% endblock %}

{% comment %} 1:30:11 / 2:18:25 Build a Blog using Django, Python, and Bootstrap {% endcomment %}