{% extends 'base.html' %}
{% load static %}

{% block title %} | Blog{% endblock %}

{% block content %}
<main id="main">

  <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>

          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->

    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for object in object_list %}
                <article class="entry">
                    {% if object.image %}
                        <div class="entry-img">
                            <img src="{{ object.image.url }}" alt="{{ object.title }}" class="img-fluid">
                        </div>
                    {% endif %}

                    <h2 class="entry-title">
                    <a>{{ object.title }}</a>
                    </h2>

                    <div class="entry-meta">
                    <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="">{{ object.author.username }}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="2020-01-01">{{ object.date }}</time></a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="">{{ comment_count }} Comments</a></li>
                    </ul>
                    </div>

                    <div class="entry-content">
                    <p>
                        {{ object.content|truncatewords_html:50|safe }}
                    </p>
                    <div class="read-more">
                        <a href="{% url 'detail_article' object.id %}">Read More</a>
                    </div>
                    </div>

                </article><!-- End blog entry -->
            {% endfor %}


            <div class="blog-pagination">
              <ul class="justify-content-center">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == 1 %}
                        {# If on the first page, show the first 3 pages #}
                        {% if num <= 3 %}
                            {% if page_obj.number == num %}
                                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% elif page_obj.number == page_obj.paginator.num_pages %}
                        {# If on the last page, show the last 3 pages #}
                        {% if num >= page_obj.paginator.num_pages|add:'-2' %}
                            {% if page_obj.number == num %}
                                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {# Otherwise, show the current page in the middle with 1 page on each side #}
                        {% if num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %}
                            {% if page_obj.number == num %}
                                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!--End sidebar search formn-->

                         <!-- End sidebar search formn-->

                         <h3 class="sidebar-title">Categories</h3>
                         <div class="sidebar-item categories">
                           <ul>
                             <li><a href="#">General <span>(25)</span></a></li>
                             <li><a href="#">Lifestyle <span>(12)</span></a></li>
                             <li><a href="#">Travel <span>(5)</span></a></li>
                             <li><a href="#">Design <span>(22)</span></a></li>
                             <li><a href="#">Creative <span>(8)</span></a></li>
                             <li><a href="#">Education <span>(14)</span></a></li>
                           </ul>
                         </div><!-- End sidebar categories-->
           
                         <h3 class="sidebar-title">Recent Posts</h3>
                         <div class="sidebar-item recent-posts">
                           <div class="post-item clearfix">
                             <img src="{% static 'img/blog/blog-recent-1.jpg' %}" alt="">
                             <h4><a href="">Nihil blanditiis at in nihil autem</a></h4>
                             <time datetime="2020-01-01">Jan 1, 2020</time>
                           </div>
           
                           <div class="post-item clearfix">
                             <img src="{% static 'img/blog/blog-recent-2.jpg' %}" alt="">
                             <h4><a href="">Quidem autem et impedit</a></h4>
                             <time datetime="2020-01-01">Jan 1, 2020</time>
                           </div>
           
                           <div class="post-item clearfix">
                             <img src="{% static 'img/blog/blog-recent-3.jpg' %}" alt="">
                             <h4><a href="">Id quia et et ut maxime similique occaecati ut</a></h4>
                             <time datetime="2020-01-01">Jan 1, 2020</time>
                           </div>
           
                           <div class="post-item clearfix">
                             <img src="{% static 'img/blog/blog-recent-4.jpg' %}" alt="">
                             <h4><a href="">Laborum corporis quo dara net para</a></h4>
                             <time datetime="2020-01-01">Jan 1, 2020</time>
                           </div>
           
                           <div class="post-item clearfix">
                             <img src="{% static 'img/blog/blog-recent-5.jpg' %}" alt="">
                             <h4><a href="">Et dolores corrupti quae illo quod dolor</a></h4>
                             <time datetime="2020-01-01">Jan 1, 2020</time>
                           </div>
           
                         </div><!-- End sidebar recent posts-->
           
                         <h3 class="sidebar-title">Tags</h3>
                         <div class="sidebar-item tags">
                           <ul>
                             <li><a href="#">App</a></li>
                             <li><a href="#">IT</a></li>
                             <li><a href="#">Business</a></li>
                             <li><a href="#">Mac</a></li>
                             <li><a href="#">Design</a></li>
                             <li><a href="#">Office</a></li>
                             <li><a href="#">Creative</a></li>
                             <li><a href="#">Studio</a></li>
                             <li><a href="#">Smart</a></li>
                             <li><a href="#">Tips</a></li>
                             <li><a href="#">Marketing</a></li>
                           </ul>
                         </div><!-- End sidebar tags-->
           
                       </div><!-- End sidebar -->
           
                     </div><!-- End blog sidebar -->
           
                   </div>
           
                 </div>
               </section><!-- End Blog Section -->
           
             </main><!-- End #main -->
           
           {% endblock %}
           