  <!-- blog/blog_post.html -->

{% extends 'base.html' %}

{% load static %}
{% load tz %}

{% block title %} | Posts{% endblock %}

{% block content %}
<main id="main">

  <!-- ======= Blog Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Blog</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'blog_home' %}">Blog</a></li>
          <li><a href="{% url 'create_article' %}">Add New Post</a></li>
          {% if request.user.username == object.author.username %}
            <li><a href="{% url 'delete_article' object.pk %}">Delete this post</a></li>
          {% endif %}
        </ol>
      </div>
    </div>
  </section><!-- End Blog Section -->

  <!-- ======= Blog Single Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-8 entries">
          <article class="entry entry-single">
            <div class="entry-img">
              {% if object.image %}
                <img src="{{ object.image.url }}" class="img-fluid" alt="{{ object.title }}">
              {% endif %}
            </div>
            <h2 class="entry-title">
              <a href="blog-single.html">{{ object.title }}</a>
            </h2>
            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ object.author.username }}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">{{ object.date }}</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">{{ comment_count }} Comments</a></li>
              </ul>
            </div>
            <div class="entry-content">
              <p>{{ object.content|safe }}</p>
            </div>
            <div class="entry-footer">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                <li><a href="#">Business</a></li>
              </ul>
              <i class="bi bi-tags"></i>
              <ul class="tags">
                <li><a href="#">Creative</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>
            </div>
          </article><!-- End blog entry -->

          <div class="blog-author d-flex align-items-center">
            {% if user_bio.profile_picture %}
            <img src="{{ user_bio.profile_picture.url }}" class="rounded-circle float-left" alt="Profile Picture">
            {% endif %}
            <div>
              <h4>{{ object.author.username }}</h4>
              <div class="social-links">
                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/#"><i class="bi bi-instagram"></i></a>
              </div>
              {% if user_bio %}
              <p>
                {{ user_bio.bio }}
              </p>
              {% endif %}
            </div>
            <p></p>
          </div><!-- End blog author bio -->

          <div class="blog-comments">
            <h4 class="comments-count">{{ comment_count }} Comments</h4>
            {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                 {% if user_bio.profile_picture %}
                  <div class="comment-img"><img src="{{ user_bio.profile_picture.url }}" alt=""></div>
                {% endif %}
                  <div>
                    <h5><a>{{ comment.author.username }}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <time datetime="2020-01-01">{{ comment.date|timezone:"Africa/Johannesburg"|date:"F j, Y, g:i a" }}</time>
                    <p>{{ comment.content }}</p>
                  </div>
                </div>
              </div><!-- End comments -->
            {% endfor %}

            <div class="reply-form">
              <h4>Leave a Comment</h4>
              {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'add_comment' object.id %}">
                  {% csrf_token %}
                  <div class="form-group">
                    {% for field in comment_form %}
                      {% if field.name == 'comment' %}
                        <textarea name="{{ field.name }}" class="form-control" placeholder="Your Comment*">{{ field.value }}</textarea>
                      {% else %}
                        {{ field }}
                      {% endif %}
                    {% endfor %}
                  </div>
                  <button type="submit" class="btn btn-primary btn-custom">Post Comment</button>
                </form>
              {% endif %}
            </div>
          </div><!-- End blog comments -->
        </div><!-- End blog entries list -->

        <div class="col-lg-4">
          {% block sidebar %}
          <div class="sidebar">
            <h3 class="sidebar-title">Search</h3>
            <div class="sidebar-item search-form">
              <form action="">
                <input type="text">
                <button type="submit"><i class="bi bi-search"></i></button>
              </form>
            </div><!-- End sidebar search form -->

            <h3 class="sidebar-title">Categories</h3>
            <div class="sidebar-item categories">
              <ul>
                <li><a href="{% url 'living' %}">Living Room <span>({{ living_count }})</span></a></li>
                <li><a href="{% url 'bedroom' %}">Bedroom <span>({{ bedroom_count }})</span></a></li>
                <li><a href="{% url 'kitchen' %}">Kitchen <span>({{ kitchen_count }})</span></a></li>
                <li><a href="{% url 'bathroom' %}">Bathroom <span>({{ bathroom_count }})</span></a></li>
                <li><a href="{% url 'outdoor' %}">Outdoor <span>({{ outdoor_count }})</span></a></li>
                <li><a href="{% url 'office' %}">Office <span>({{ office_count }})</span></a></li>
              </ul>
            </div><!-- End sidebar categories -->

            <div class="sidebar-item recent-posts">
              {% if recent_posts %}
                  {% for post in recent_posts %}
                      <div class="post-item clearfix">
                          {% if post.image %}
                              <img src="{{ post.image.url }}" alt="content-image">
                          {% endif %}
                          <h4><a href="{% url 'detail_article' post.pk %}">{{ post.title }}</a></h4>
                          <time datetime="{{ post.date|date:'Y-m-d' }}">{{ post.date|date }}</time>
                      </div>
                  {% endfor %}
              {% else %}
                  <p>No recent posts found.</p>
              {% endif %}
          </div><!-- End sidebar recent posts -->

            <h3 class="sidebar-title">Tags</h3>
            <div class="sidebar-item tags">
              <ul>
                <li><a href="#">App</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Smart</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>
            </div><!-- End sidebar tags -->
          </div><!-- End sidebar -->
          {% endblock %}
        </div><!-- End blog sidebar -->
      </div>
    </div>
  </section><!-- End Blog Single Section -->

</main><!-- End #main -->
{% endblock %}
