{% extends "blog/blog_base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-12 mx-5 mt-3">
            <a href="{% url 'blog_home' %}" class="btn btn-outline-secondary">Go Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 mx-md-auto mb-3 pb-2 mx-3">
            <h1>{{ object.title }}</h1>

            <p class="text-muted">{{ object.date }}</p>
            <p class="text-muted">Posted by {{ object.author.username }}</p>
            <div>
                {{ object.content|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% comment %} 1:32:46 / 2:18:25 Build a Blog using Django, Python, and Bootstrap {% endcomment %}