{% extends 'base.html' %}
{% load static %}

{% block title %} | Blog{% endblock %}

{% block content %}
<main id="main">
  <!-- ======= Blog Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Blog</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Blog</li>
        </ol>
      </div>
    </div>
  </section><!-- End Blog Section -->
  
  <div class="row">
    <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
      <h1 class="fw-bolder">Create a New Post</h1>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Post</button>
      </form>
    </div>
  </div>

{% endblock %}
