{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tash & Thabs{% block title %} | Base{% endblock %}</title>
  <meta content="Discover a wide range of beautiful art, custom photo frames, and professional image services. Enhance your space with unique artworks and personalized framing solutions." name="description">
  <meta content="art, photo frames, image services, custom framing, artwork, picture frames, professional framing, photography services, canvas prints, art prints, bespoke frames" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="apple-touch-icon" type="image/png" href="{% static 'img/apple-touch-icon.png' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">


  <!--  CSS Files -->
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        {% comment %} <h1 class="text-light"><a href="index.html"><span>Tash & Thabs</span></a></h1> {% endcomment %}
        <a href="{% url 'home' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt="image not available" rel="image"></a>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'gallary' %}">Gallary</a></li>
          <li><a href="{% url 'team' %}">Team</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contacts' %}">Contact Us</a></li>
          <li><span class="separator">|</span></li>
          <li><a href="{% url 'accounts:login' %}">login</a></li>
          <li><a href="{% url 'accounts:signup' %}">signup</a></li>
          
          {% if user.is_authenticated %}
          <li><a href="{% url 'accounts:logout' %}"></a>Logout</li>
          {% endif %}
            
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% block content %}
 
  {% endblock %}
</body>

</html>