{% extends 'base.html' %}
{% load static %}
{% block title %} | Our Services{% endblock %}

{% block header_class %}header-scrolled{% endblock %}

{% block content %}
<main id="main">

  <!-- ======= Our Services Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Our Services</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Our Services</li>
        </ol>
      </div>

    </div>
  </section><!-- End Our Services Section -->

  <!-- ======= Services Section ======= -->
  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bi bi-house-door-fill"></i></div>
            <h4 class="title"><a href="#">Living Room Designs</a></h4>
            <p class="description">Discover a range of styles to make your living room a welcoming and stylish space.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-bed-fill"></i></div>
            <h4 class="title"><a href="#">Bedroom Inspirations</a></h4>
            <p class="description">Find elegant and cozy bedroom designs that create the perfect atmosphere for relaxation.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bi bi-cup-straw"></i></div>
            <h4 class="title"><a href="#">Kitchen Ideas</a></h4>
            <p class="description">Get inspired by beautiful and functional kitchen layouts that enhance your cooking experience.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bi bi-bathtub-fill"></i></div>
            <h4 class="title"><a href="#">Bathroom Styles</a></h4>
            <p class="description">Explore bathroom designs that combine style and functionality for a refreshing experience.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="{% static 'img/why-us.jpg' %}" class="img-fluid" alt="Interior Design">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-brush-fill"></i></div>
            <h4 class="title"><a href="#">Unique Designs</a></h4>
            <p class="description">Our designs are tailored to reflect your personality and style, creating unique and personalized spaces.</p>
          </div>
          <div class="icon-box">
            <div class="icon"><i class="bi bi-tag-fill"></i></div>
            <h4 class="title"><a href="#">Affordable Prices</a></h4>
            <p class="description">We offer competitive pricing without compromising on quality, ensuring you get the best value for your investment.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Service Details Section ======= -->
  <section class="service-details">
    <div class="container">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'img/service-details-1.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Our Mission</a></h5>
              <p class="card-text">
                At Tash & Thabs, our mission is to redefine living spaces through artistry and personalized design solutions. We strive to create bespoke interiors that reflect our clients' unique personalities and aspirations. With a commitment to quality craftsmanship and innovative design, we transform spaces into captivating environments that inspire and delight.
              </p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'img/service-details-2.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Our Plan</a></h5>
              <p class="card-text">
                  At Tash & Thabs, our plan revolves around delivering exceptional interior design solutions tailored to our clients' needs. We begin by understanding your vision and preferences, ensuring every detail contributes to creating harmonious living spaces. Our approach combines creativity with meticulous attention to detail, ensuring that each project reflects your unique style and enhances your lifestyle. From conceptualization to execution, we strive for excellence in every aspect of interior design.
              </p>
            <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'img/service-details-3.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Our Vision</a></h5>
              <p class="card-text">
                  At Tash & Thabs, our vision is to redefine interior design by creating spaces that inspire and elevate lifestyles. We aim to be recognized for our innovative approach, where every design reflects a perfect balance of aesthetics and functionality. Our vision drives us to transform spaces into captivating environments that resonate with elegance and uniqueness, enriching the lives of our clients through timeless and sophisticated interior solutions.
              </p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'img/service-details-4.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="#">Our Care</a></h5>
              <p class="card-text">
                  At Tash & Thabs, caring is at the heart of everything we do. We strive to understand our clients' needs deeply, ensuring every project is approached with empathy and attention to detail. Our commitment to care extends to delivering exceptional quality, personalized service, and creating spaces that resonate with warmth and harmony. We believe in building lasting relationships based on trust and exceeding expectations, making your experience with us as seamless and enjoyable as possible.
              </p>
              <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Service Details Section -->

  <!-- ======= Pricing Section ======= -->
  <section class="pricing section-bg" data-aos="fade-up">
    <div class="container">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-4 box">
          <h3>Free</h3>
          <h4>$0<span>per month</span></h4>
        <ul>
            <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
            <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
            <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
            <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
          </ul>
          <a href="#" class="get-started-btn">Get Started</a>
        </div>

        <div class="col-lg-4 box featured">
          <h3>Business</h3>
          <h4>$29<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
            <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
            <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
            <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
          </ul>
          <a href="#" class="get-started-btn">Get Started</a>
        </div>

        <div class="col-lg-4 box">
          <h3>Developer</h3>
          <h4>$49<span>per month</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
            <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
            <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
            <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
            <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
          </ul>
          <a href="#" class="get-started-btn">Get Started</a>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

</main><!-- End #main -->
{% endblock %}
